.header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  color: #000c77;
  padding: 10px 20px;
  /* padding-left: 16%; */
}

.dashboard h1 {
  margin: 0;
  margin-bottom: 10px;
}

.account {
  display: block;
  align-items: center;
  padding-left: 90%;
}

.account h4 {
  font-size: 20px;
  margin: 0;
}
.account h6 {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

.image img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.response {
  display: block;
  justify-content: space-between;
  align-items: center;
  color: #000c77;
  /* padding-left: 16%; */
}

.des_tx {
  display: -webkit-box;
}
.des_tx h1 {
  font-size: 30px;
}

.user_nm {
  text-align: right;
  width: 86%;
  display: inline-block;
}
.user_nm p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  margin-top: 11px;
}

.user_nm span {
  font-size: 13px;
  color: #333;
}

.user_nm_pic {
  width: 10%;
  float: right;
}
.user_nm_pic img {
  width: 35px;
  margin-top: 8px;
}

.system_tx {
  width: 100%;
  float: left;
}

.system_tx h4 {
  font-size: 30px;
  font-weight: 200;
  margin-top: 16px;
}

.line1 {
  width: 12%;
  margin: 0;
  border: solid 1px #7286d3;
  opacity: inherit;
}

.mn_hd {
  width: 100%;
  float: left;
  display: inline-flex;
}

.bder_pos {
  width: 100%;
  float: right;
  text-align: right;
}

.bder_pos img {
  width: 70px;
}

.top_icon {
  text-align: right;
  width: 75%;
  float: left;
}
.top_icon ul {
  margin-top: 4px;
}
.top_icon ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 12px;
}

.top_icon ul li img {
  width: 22px;
}

.icon_pdg1 {
  padding-left: 42px;
}

/* New tabs */

.sidebar-tabs {
  transform: translateX(105%);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-tabs.active {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  transform: none;
}

.sidebar-tabs.active #sidebar-click{ display: none;}

.sidebar-tabs-data {
  flex: 1;
}

/* body{  overflow: hidden
  ;} */

.lin4 {
  width: 95%;
}

.star1 {
  float: right;
}
.star1 img {
  width: 22px;
  vertical-align: inherit;
  margin-right: 10px;
}
.star1 .active {
  color: #fff;
  background-color: #000c77;
}

.tb_ht {
  height: inherit;
  padding: 0 0 0px 0;
  width: 84% !important;
  margin: 0 auto;
  margin-top: 100px;
}

.tb_bdr {
  border-radius: 35px;
  border: solid 1px #505ed8;
  padding: 0;
  margin: 0px;
  box-shadow: 5px 5px 5px rgba(80, 94, 216, 0.14);
  background: #fff;
  padding-bottom: 1px;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #7286d3 !important;
  border: none;
  border-radius: 35px;
  margin: 1px;
  height: 99%;
}

.tb_bdr ul {
  border-radius: 35px;
}
.tb_bdr ul li {
  border-radius: 35px;
}
.tb_bdr ul li a {
  color: #000;
}

.nv_tx1 {
  color: #000 !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
  color: #000c77;
  font-weight: 600;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
  border-radius: 35px;
}

.sid_click {
  width: 65px;
  height: 65px;
}



.favourite_tx {
  position: absolute;
  bottom: 30px;
  left: 34px;
  width: 79%;
}


.favourite_tx p {
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
  margin: 0;
}

.favourite_tx img {
  width: 15px;
  margin: 0 13px 1px 0;
  vertical-align: middle;
}

.favourite_tx:hover {
  background: #8fa2e9;
  border-radius: 35px;
}