.objgrpname {
  color: #000c77;
  background-color: #e5e0ff;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 4px;
  width: 98%;
  border-radius: 6px;
  font-weight: 450;
}

.typename {
  color: #000c77;
  margin-bottom: -17px;
  margin-left: 4px;
  font-weight: 450;
  width: 98%;
}

.flex-container {
  display: inline-flex !important;
  margin: 10px;
  padding: 20px;
  /* border: solid 1px #000c77; */
}
.container {
  display: block;
  height: 100%;
  width: 100%;
  /* border: solid 1px #000c77; */
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 1%;
  /* background-color: #ecf0f1; */
  background-image: url("public/Assets/Circle Background.png");
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(80, 94, 216, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box:hover {
  box-shadow: 5px 5px 5px rgba(80, 94, 216, 0.39);
}

.interval {
  font-size: 9px;
  color: #000c77;
}

.count {
  font-size: 40px;
  color: #000c77;
  font-weight: 350;
}

.objectname {
  color: #000c77;
  font-size: 11px;
  text-align: center;
  width: 100px;
}

.bac_clr {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 5px rgba(80, 94, 216, 0.14);
  padding: 9px 0 9px 0;
  width: fit-content;
  margin: 0 55px 0 0;
  margin-bottom: 10px;
  text-align: center;
  background: #fff;
  width: 95%;
}

.bac_clr:hover {
  box-shadow: 0px 5px 5px 5px rgba(80, 94, 216, 0.39);
}

.box_lin ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  border-right: solid 2px #ff001a;
  margin-bottom: 40px;
}

.box_lin ul li {
  list-style: none;
  background-image: url("public/Assets/Circle Background.png");
  background-repeat: no-repeat;
    background-size: 66%;
    margin-bottom: 40px;
    background-position: 57% 80%;
    padding: 0 10px 0px 10px;
    border-right: solid 2px #d6d0f5;
    border: solid 1px #f40000;
    border-radius: 50%;
    width: 103px !important;
    height: 102px !important;
    margin: 0px 23px 18px 16px !important;
}


.box_lin ul:last-child {
  border-right: none;
}

.box_lin ul li p {
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  padding-top: 25px;
  width: 100%;
  float: left;
}

.box_lin ul li span {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 11px;
}

.count_no {
  text-align: center;
  font-size: 35px;
  color: #000c77;
}

.lin4 {
  width: 98%;
}








.flex-container {
  display: inline-flex !important;
  margin: 10px;
  padding: 20px 0;
  width: 10%;
}
.container {
  display: block;
  height: 100%;
  width: 100%;
}
.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("public/Assets/Circle Background.png");
  background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: 14px;
    position: relative;
}
.circle2:hover {
  box-shadow: 5px 5px 5px rgba(80, 94, 216, 0.39);
}

.interval2 {
  font-size: 9px;
  color: #000c77;
  position: absolute;
  top: -4px;
  right: -10px;
}

.count {
  font-size: 40px;
  color: #000c77;
  font-weight: 350;
}

.objectname {
  color: #000c77;
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.bodr_rt{border-right: solid 2px #ff0000; padding: 0 !important;}